/* Global Styles */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: block flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #F8F9FA;
}

/* Header */

header {
    display: block flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header button {
    display: inline flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: 100%;
    background-color: transparent;
    color: inherit;
}

header button:enabled:hover {
    cursor: pointer;
    background-color: #DEE2E6;
}

header button span {
    font-size: 36px !important;
}

/* Board Layout */

#board {
    display: block grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
    height: 50vmin;
    width: 50vmin;
    box-shadow: 0 0 20px 5px #6C757D;
}

/* Board Cell */

#board>div {
    display: block flex;
    justify-content: center;
    align-items: center;
}

#board:not(.disabled)>div:hover {
    cursor: pointer;
}

#board>div.highlight {
    border: solid 4px #023E8A;
}

/* Tokens */

i.token {
    display: block;
    font-size: 4.5vmin;
}

i.token.white-token {
    color: #FFF;
}

i.token.black-token {
    color: #000;
}

/* Small Screen Styles */

@media (max-width: 500px) {
    #board {
        height: 80vw;
        width: 80vw;
    }

    i.token {
        font-size: 8vw;
    }
}
